[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
python-jose = {extras = ["cryptography"], version = "*"}
authlib = "*"
uvicorn = "*"
bcrypt = "*"
passlib = "*"
argon2-cffi = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
